ion-segment{
    ion-segment-button{
        font-size: 0.75rem;
        img{
            width: 32px;
            height: 36px;
            padding: 6px
        }   
    }
}
ion-grid{
    ion-row{
        margin-right: 10px;
    }
}