<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328485888923-ra0epo7egru4no8ca9o6dag1q2ogekv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328485888923-ra0epo7egru4no8ca9o6dag1q2ogekv2</string>
	<key>API_KEY</key>
	<string>AIzaSyDJl40bfv2J5wRWG9lK-fBC_OPvcqdaKl8</string>
	<key>GCM_SENDER_ID</key>
	<string>328485888923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maikoon.shop</string>
	<key>PROJECT_ID</key>
	<string>maikoon-19c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>maikoon-19c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328485888923:ios:814741591456262281773e</string>
	<key>DATABASE_URL</key>
	<string>https://maikoon-19c0a.firebaseio.com</string>
</dict>
</plist>